.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* margin: 10px; */
}

.projects {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000C40;
    border-left: 5px solid #57D1D6;
    background: linear-gradient(145deg, #1C1B23, #1C1B23);
    /* Gradient with different shades of black */
    border-radius: 7px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    /* width: 80%; */
}

.project {
    display: flex;
    flex-direction: column;
    width: 260px;
    overflow: hidden;
    height: 260px;
    border-radius: 10px;
    background-color: #fff;

}

.projects h1 {
    color: #57D1D6;
    font-size: 20px;
    position: relative;
    margin-bottom: 10px;
}

/* .projects h1::after {
    position: absolute;
    content: " ";
    background-color: #F77F00;
    left: 0;
    bottom: -2px;
    width: 100px;
    height: 2px;
    border-radius: 30px;
} */

.project img {
    width: 100%;
    height: 150px;
    overflow: hidden !important;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.project img:hover {
    transform: scale(1.05);

}

.project h3 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000C40;
}

.project p {
    font-style: italic;
    margin-top: 8px;
    font-size: 13px;
}

.project .description {
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: #000;

}

.project .description .content {
    flex-grow: 1;
}

.project .description .links {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    /* Push the links to the bottom */
    color: #006FEE;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.project .description .links a:hover {

    color: #4a99f2;
    /* font-weight: 400; */
}

.project .description a div {
    font-size: 15px !important;
}

.project .description a div svg {
    margin-right: 5px;
}

.slick-slider button.slick-arrow.slick-prev {
    border: 2px solid #fff;
    size: 40px;
    font-size: 20px;
}

.project_carousel {
    border: 2px solid;
    display: flex;

}