/* contact us  */

.contact_container {
    padding: 12px 200px;
    margin: 10px 0;
    border-left: 5px solid var(--side_border);
    border-bottom: 1px solid var(--other_side_border);
    border-top: 1px solid var(--other_side_border);
    border-right: 1px solid var(--other_side_border);
    background: linear-gradient(145deg, #1C1B23, #1C1B23);
    border-radius: 7px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    color: var(--light_border_white)
}

.contact_container .submit_btn {
    padding: 23px 0 !important;
    width: 100%;
    margin: 24px 0 12px 0;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    background-color: #fff;
}

.contact_container .direct_contact {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contact_container .direct_contact .items {
    font-size: 17px;
    margin-bottom: 8px;

}

.contact_container .direct_contact span {
    margin-left: 10px !important;

}

.contact_container .inputs .input {
    margin: 10px 0;
}

.contact_container .inputs .input1 {
    margin-right: 10px !important;
}

.contact_container .social_links .link {
    margin: 5px 10px 5px 0;
    font-size: 25px;
}