#root {
  --light-white: #A1A1AA;
  /* background-color: #2E2E2E; */
  --background-color: #131313;
  --light_border_white: #9e9e9e;
  --box_dark_bg: #1C1B23;
  --side_border: #57D1D6;
  --other_side_border: #000C40;

}

/* button hover  */

.button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* common css  */

.divider {

  margin: 20px 0;


}

.App {
  display: flex;
}

.side-navbar {
  position: fixed;
  width: 250px;
  background-color: var(--box_dark_bg);
  /* background-color: #CECFD4; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--light_border_white);
}

.side-navbar a {
  padding: 15px;
  text-decoration: none;
  color: var(--light_border_white);
}

.side_header h4 {

  margin-left: 10px;
  font-size: 30px;
}

.side-navbar a.active {
  background-color: #007bff;
  color: var(--light_border_white);
}

.content-container {
  /* padding: 20px; */
  padding: 20px;
  margin-left: 270px;

  width: calc(100% - 270px);

}


/* ## header  */


.header {
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  border-left: 5px solid var(--side_border);
  /* background-color: #f4f0ed; */
  background-color: var(--box_dark_bg);

  color: var(--light_border_white);
  padding: 10px 20px;

  margin-bottom: 7px;
  border-radius: 5px;
}

.header .descriptions h2 {
  font-size: 23px;
  font-weight: 600;
  /* border: 2px solid; */
  color: #cdcaca;
  font-family: "Poppins", sans-serif;

}

.header .mailto {
  display: inline;
  width: 340px;
}

.header .mailto span {

  transition: transform 300ms;

}

.header .mailto:hover {
  transform: translateY(-3px);
}

.header p {
  color: grey;
}

.header .descriptions img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 10px 10px 0;
}

.header .social_links {
  display: flex;
}

.header .social_links .link {
  font-size: 23px;
  margin: 10px 10px 0 0;
}

.header .buttons {
  display: flex;
  flex-direction: column;
}

.header button {
  padding: 10px 14px;
  border: 1px solid var(--side_border);
  width: 170px !important;

  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.header button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

/* #skills  */


.skills {
  padding: 10px;
  margin: 10px 0;

  border-left: 5px solid var(--side_border);
  border-bottom: 1px solid var(--other_side_border);
  border-top: 1px solid var(--other_side_border);
  border-right: 1px solid var(--other_side_border);

  background: linear-gradient(145deg, #1C1B23, #1C1B23);
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}


.skills h1 {
  color: var(--side_border);
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
}

/* .skills h1::after {
  position: absolute;
  content: " ";
  background-color: #F77F00;
  left: 0;
  bottom: -2px;
  width: 100px;
  height: 2px;
  border-radius: 30px;
} */

.skill_card {
  border: 1px solid #17AD8A;
  padding: 10px;
  border-radius: 3px;
  width: 240px;
  height: 130px;
  transition: 0.4s all ease-in-out !important;
}

.skill_card:hover .skill_header {
  transform: translateX(4px);
  /* scale: 10px; */
}

.skill_card:hover .skill_desc {
  /* border: 2px solid red; */
  transform: translateX(4px);
  /* scale: 10px; */
}

.skill_card .skill_desc {
  transition: 0.3s all ease-in-out !important;

}

.skills .skill_header {
  transition: 0.3s all ease-in-out !important;

  margin-bottom: 5px;
  color: #eee9e9;
}

/* # experience */


.experience {
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid var(--side_border);
  border-bottom: 1px solid var(--other_side_border);
  border-top: 1px solid var(--other_side_border);
  border-right: 1px solid var(--other_side_border);
  background: linear-gradient(145deg, #1C1B23, #1C1B23);
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


.experience h1 {
  color: #57D1D6;
  font-size: 20px;
  /* position: relative; */
  margin-bottom: 10px;

}

.experience .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #007bff;
}



/* src/InternshipDetails.css */
.experience .container {


  /* border: 2px solid; */
  margin: 9px 140px;
  overflow: hidden;
  width: 80%;
}

.sub_heading_title {
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;

}

.role {
  font-size: 1.25rem;
  color: #555;
}

.experience .duration {
  margin-bottom: 13px !important;
  font-style: italic;
  color: var(--light_border_white);
}


.experience .technologies {
  margin-top: 7px;
}

.description,
.technologies {
  font-size: 1rem;
  color: #d6d6d4;
}

.footer_divider {
  border: 3px solid red !important;
}



/* # about me  */
.about_container {

  padding: 20px;
  margin: 10px auto;
  /* width: 90%;s */
  border-left: 5px solid var(--side_border);
  background: linear-gradient(145deg, #1C1B23, #1C1B23);
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

  color: var(--light_border_white)
}

.about_container h1 {
  font-size: 24px;
  color: var(--side_border);
}

.about_container p {
  font-size: 17px;
}

.about_container .social_links {
  display: flex;

}

.about_container .social_links .link {
  margin: 10px;
  font-size: 20px;
}


/* ##  education  */


.academic-details {

  padding: 12px;
  margin: 10px 0;
  border-left: 5px solid var(--side_border);
  border-bottom: 1px solid var(--other_side_border);
  border-top: 1px solid var(--other_side_border);
  border-right: 1px solid var(--other_side_border);
  background: linear-gradient(145deg, #1C1B23, #1C1B23);
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  color: var(--light_border_white)
}

.academic-details .academic-degree {
  color: var(--box_dark_bg);
}



.academic-details h1 {
  color: #57D1D6;
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
}

.academic-details p {
  font-size: 16px;
  color: #555;
}

.academic-item {

  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 140px;
}

.academic-duration {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #000;
  display: inline;
}

.academic-degree {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.academic-institution {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  display: flex;
  align-items: center;

}

.academic-gpa {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  display: flex;
  align-items: center;

}